.footer {
  width: 100%;
  height: 60px; /* a bit taller */
  background-color: #f0f0f0;
  padding: 15px;
  text-align: center;
  border-top: 1px solid #ccc;
  font-family: Arial, sans-serif;
  color: #333;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.copyright {
    font-size: 0.9em;
    color: #c1bebe;
    margin-bottom: 10px;
}

.footer-links {
    display: flex;
    gap: 20px;
}

.footer-link {
    color: #555;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #000;
}

/* This is the class applied when the link is active */
.active-link {
    color: blue; /* Sets the link color to blue when active */
    text-decoration: underline;
}